---
title: Xác minh tài khoản con GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919966"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Ngày sinh Hiển thị trong tài khoản Microsoft của bạn là không chính xác

Microsoft mất tài khoản an ninh rất nghiêm túc. Bạn có thể đã gần đây được nhắc cung cấp sự đồng ý của cha mẹ cho tài khoản Microsoft của một đứa trẻ. Nếu bạn cần trợ giúp cung cấp cho sự đồng ý của cha mẹ hoặc cập nhật ngày tháng năm sinh trên một tài khoản Microsoft, hãy xem [xác minh tuổi cho sự đồng ý của cha mẹ](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Tìm hiểu thêm về [sự đồng ý của cha mẹ và trẻ em các tài khoản Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

