---
title: Xác minh tài khoản con GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 01/24/2019
ms.locfileid: "29497249"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="8e472-102">Ngày sinh Hiển thị trong tài khoản Microsoft của bạn là không chính xác</span><span class="sxs-lookup"><span data-stu-id="8e472-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="8e472-p101">Microsoft mất tài khoản an ninh rất nghiêm túc. Bạn có thể đã gần đây được nhắc cung cấp sự đồng ý của cha mẹ cho tài khoản Microsoft của một đứa trẻ. Nếu bạn cần trợ giúp cung cấp cho sự đồng ý của cha mẹ hoặc cập nhật ngày tháng năm sinh trên một tài khoản Microsoft, hãy xem [xác minh tuổi cho sự đồng ý của cha mẹ](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="8e472-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="8e472-106">Tìm hiểu thêm về [sự đồng ý của cha mẹ và trẻ em các tài khoản Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="8e472-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

