---
title: Xác minh EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710361"
---
# <a name="edu-verification"></a>Xác minh EDU

Trong hầu hết các trường hợp, các yêu cầu đủ điều kiện học tập sẽ được xử lý trong vòng 24-48 giờ. Một số yêu cầu có thể yêu cầu xem xét kỹ lưỡng hơn và có thể mất tối đa 10 ngày làm việc để xử lý. Sau khi đã hoàn tất, chúng tôi sẽ gửi email với trạng thái đủ điều kiện của trường học của bạn.

**Quan trọng** Nếu bạn đã thoát trình hướng dẫn xác minh trước khi nhập tên miền, bạn có thể [tiếp tục trình hướng dẫn xác minh học thuật](https://go.microsoft.com/fwlink/p/?linkid=2135255) bất kỳ lúc nào trong bản dùng thử miễn phí của bạn.

Nếu bạn muốn kiểm tra trạng thái tên miền của bạn, hãy đi đến [Trung tâm quản trị Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Trên trang chủ, cuộn xuống dưới cùng và tìm thẻ **thanh toán** . Thẻ **thanh toán** cho biết trạng thái của quy trình xác thực (được phê duyệt, đang chờ, từ chối hoặc thêm tên miền của bạn).

Nếu yêu cầu của bạn bị từ chối, hãy xem [trường học của tôi không đủ điều kiện. Tôi phải làm gì bây giờ?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)