---
title: Xác minh EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946803"
---
# <a name="edu-verification"></a>Xác minh EDU

Trong hầu hết các trường hợp, các yêu cầu đủ điều kiện học thuật được xử lý trong vòng 24-48 giờ. Một số yêu cầu có thể yêu cầu xem xét kỹ hơn và có thể mất tối đa 10 ngày làm việc để xử lý. Sau khi hoàn tất, chúng tôi sẽ gửi email kèm theo trạng thái đủ điều kiện của trường bạn.

**Quan trọng** Nếu bạn đã thoát khỏi trình hướng dẫn xác minh trước khi nhập miền, bạn có thể tiếp tục trình hướng dẫn xác minh học thuật vào [bất](https://go.microsoft.com/fwlink/p/?linkid=2135255) kỳ lúc nào trong thời gian dùng thử miễn phí.

Nếu bạn muốn kiểm tra trạng thái miền của mình, hãy đi tới trang [Trung tâm quản trị Microsoft 365.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Trên trang chủ, cuộn xuống dưới cùng và tìm Thẻ **thanh** toán. Thẻ **Thanh toán** cho biết trạng thái của quy trình xác minh (đã phê duyệt, đang chờ xử lý, từ chối hoặc thêm miền của bạn).

Nếu yêu cầu của bạn bị từ chối, hãy [xem Mục Trường học của tôi không đủ điều kiện. Tôi hiện đang làm gì?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)