---
title: EDU xác minh
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205289"
---
# <a name="edu-verification"></a><span data-ttu-id="59e2f-102">EDU xác minh</span><span class="sxs-lookup"><span data-stu-id="59e2f-102">EDU verification</span></span>

<span data-ttu-id="59e2f-103">Trong hầu hết các trường hợp, yêu cầu đủ điều kiện học tập được xử lý trong vòng 24-48 giờ.</span><span class="sxs-lookup"><span data-stu-id="59e2f-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="59e2f-104">Một số yêu cầu có thể cần được đánh giá kỹ lưỡng hơn và có thể mất tối đa 10 ngày làm việc để xử lý.</span><span class="sxs-lookup"><span data-stu-id="59e2f-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="59e2f-105">Sau khi hoàn tất, chúng tôi sẽ gửi email với tình trạng hội đủ điều kiện của trường.</span><span class="sxs-lookup"><span data-stu-id="59e2f-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="59e2f-106">**Quan trọng** Nếu bạn đã thoát trình hướng dẫn xác minh trước khi nhập miền, bạn có thể [tiếp tục trình hướng dẫn xác minh học tập](https://go.microsoft.com/fwlink/p/?linkid=2135255) bất cứ lúc nào trong thời gian dùng thử miễn phí của bạn.</span><span class="sxs-lookup"><span data-stu-id="59e2f-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="59e2f-107">Nếu bạn muốn kiểm tra trạng thái của miền của mình, hãy truy cập [Trung tâm quản trị Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="59e2f-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="59e2f-108">Trên trang chủ, cuộn xuống cuối và tìm thẻ **thanh toán** .</span><span class="sxs-lookup"><span data-stu-id="59e2f-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="59e2f-109">Thẻ **thanh toán** cho biết trạng thái của quy trình xác minh (được phê duyệt, đang chờ xử lý, từ chối hoặc thêm miền của bạn).</span><span class="sxs-lookup"><span data-stu-id="59e2f-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="59e2f-110">Nếu yêu cầu của bạn bị từ chối, hãy xem [trường học của tôi không đủ điều kiện. Tôi phải làm gì bây giờ?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="59e2f-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>