---
title: Xác minh EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814394"
---
# <a name="edu-verification"></a><span data-ttu-id="29578-102">Xác minh EDU</span><span class="sxs-lookup"><span data-stu-id="29578-102">EDU verification</span></span>

<span data-ttu-id="29578-103">Trong hầu hết các trường hợp, các yêu cầu đủ điều kiện học tập sẽ được xử lý trong vòng 24-48 giờ.</span><span class="sxs-lookup"><span data-stu-id="29578-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="29578-104">Một số yêu cầu có thể yêu cầu xem xét kỹ lưỡng hơn và có thể mất tối đa 10 ngày làm việc để xử lý.</span><span class="sxs-lookup"><span data-stu-id="29578-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="29578-105">Sau khi đã hoàn tất, chúng tôi sẽ gửi email với trạng thái đủ điều kiện của trường học của bạn.</span><span class="sxs-lookup"><span data-stu-id="29578-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="29578-106">**Quan trọng** Nếu bạn đã thoát trình hướng dẫn xác minh trước khi nhập tên miền, bạn có thể [tiếp tục trình hướng dẫn xác minh học thuật](https://go.microsoft.com/fwlink/p/?linkid=2135255) bất kỳ lúc nào trong bản dùng thử miễn phí của bạn.</span><span class="sxs-lookup"><span data-stu-id="29578-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="29578-107">Nếu bạn muốn kiểm tra trạng thái tên miền của bạn, hãy đi đến [Trung tâm quản trị Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="29578-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="29578-108">Trên trang chủ, cuộn xuống dưới cùng và tìm thẻ **thanh toán** .</span><span class="sxs-lookup"><span data-stu-id="29578-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="29578-109">Thẻ **thanh toán** cho biết trạng thái của quy trình xác thực (được phê duyệt, đang chờ, từ chối hoặc thêm tên miền của bạn).</span><span class="sxs-lookup"><span data-stu-id="29578-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="29578-110">Nếu yêu cầu của bạn bị từ chối, hãy xem [trường học của tôi không đủ điều kiện. Tôi phải làm gì bây giờ?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="29578-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>