---
title: EDU xác minh
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138980"
---
# <a name="edu-verification"></a><span data-ttu-id="74b51-102">EDU xác minh</span><span class="sxs-lookup"><span data-stu-id="74b51-102">EDU verification</span></span>

<span data-ttu-id="74b51-103">Bạn sẽ nhận được email cho biết liệu đủ điều kiện của tổ chức của bạn đã được phê duyệt hay chưa.</span><span class="sxs-lookup"><span data-stu-id="74b51-103">You'll receive an email letting you know whether your organization's eligibility has been approved.</span></span>

<span data-ttu-id="74b51-104">Trong một số trường hợp, bạn có thể cần phải đợi tối đa 48 giờ để xác minh DNS hoàn tất.</span><span class="sxs-lookup"><span data-stu-id="74b51-104">In some cases, you may need to wait up to 48 hours for the DNS verification to complete.</span></span> <span data-ttu-id="74b51-105">Bạn có thể nhấp vào "tôi sẽ xác minh sau" và trở lại sau đó và đăng nhập vào cổng Office 365; sau đó đi đến \*\* [Trung tâm quản trị](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > cài đặt\*\* và nhấp vào [tên](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) miền để kiểm tra nhập trạng thái cho tên miền của bạn.</span><span class="sxs-lookup"><span data-stu-id="74b51-105">You can click “I'll verify later” and come back later and log into the Office 365 portal; then go to **[Admin center](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Settings** and click [Domains](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) to check the status entry for your domain.</span></span>

<span data-ttu-id="74b51-106">Khi được phê duyệt, bạn có thể chuyển đến tab **[dịch vụ mua](https://go.microsoft.com/fwlink/p/?linkid=868433)** hàng của Trung tâm quản trị Microsoft để mua đăng ký.</span><span class="sxs-lookup"><span data-stu-id="74b51-106">When you are approved, you can go to the **[Purchase services](https://go.microsoft.com/fwlink/p/?linkid=868433)** tab of Microsoft admin center to purchase subscriptions.</span></span>
