---
title: EDU xác minh
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205289"
---
# <a name="edu-verification"></a>EDU xác minh

Trong hầu hết các trường hợp, yêu cầu đủ điều kiện học tập được xử lý trong vòng 24-48 giờ. Một số yêu cầu có thể cần được đánh giá kỹ lưỡng hơn và có thể mất tối đa 10 ngày làm việc để xử lý. Sau khi hoàn tất, chúng tôi sẽ gửi email với tình trạng hội đủ điều kiện của trường.

**Quan trọng** Nếu bạn đã thoát trình hướng dẫn xác minh trước khi nhập miền, bạn có thể [tiếp tục trình hướng dẫn xác minh học tập](https://go.microsoft.com/fwlink/p/?linkid=2135255) bất cứ lúc nào trong thời gian dùng thử miễn phí của bạn.

Nếu bạn muốn kiểm tra trạng thái của miền của mình, hãy truy cập [Trung tâm quản trị Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Trên trang chủ, cuộn xuống cuối và tìm thẻ **thanh toán** . Thẻ **thanh toán** cho biết trạng thái của quy trình xác minh (được phê duyệt, đang chờ xử lý, từ chối hoặc thêm miền của bạn).

Nếu yêu cầu của bạn bị từ chối, hãy xem [trường học của tôi không đủ điều kiện. Tôi phải làm gì bây giờ?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)