---
title: EDU xác minh
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138980"
---
# <a name="edu-verification"></a>EDU xác minh

Bạn sẽ nhận được email cho biết liệu đủ điều kiện của tổ chức của bạn đã được phê duyệt hay chưa.

Trong một số trường hợp, bạn có thể cần phải đợi tối đa 48 giờ để xác minh DNS hoàn tất. Bạn có thể nhấp vào "tôi sẽ xác minh sau" và trở lại sau đó và đăng nhập vào cổng Office 365; sau đó đi đến ** [Trung tâm quản trị](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > cài đặt** và nhấp vào [tên](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) miền để kiểm tra nhập trạng thái cho tên miền của bạn.

Khi được phê duyệt, bạn có thể chuyển đến tab **[dịch vụ mua](https://go.microsoft.com/fwlink/p/?linkid=868433)** hàng của Trung tâm quản trị Microsoft để mua đăng ký.
