---
title: 8000038 xác minh tài khoản trẻ em GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 04/22/2020
ms.locfileid: "43765002"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Ngày sinh được hiển thị trong tài khoản Microsoft của bạn không chính xác

Microsoft mất tài khoản bảo mật rất nghiêm túc. Gần đây, bạn có thể được nhắc cung cấp sự đồng ý của cha mẹ cho tài khoản Microsoft của trẻ. Nếu bạn cần trợ giúp cung cấp sự đồng ý của cha mẹ hoặc cập nhật ngày sinh trên tài khoản Microsoft, hãy xem [xác minh tuổi cho sự đồng ý của cha mẹ](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Tìm hiểu thêm về [sự đồng ý của cha mẹ và tài khoản con của Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  