---
title: 8000038 xác minh tài khoản con của GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707985"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="cb445-102">Ngày sinh được hiển thị trong tài khoản Microsoft của bạn không chính xác</span><span class="sxs-lookup"><span data-stu-id="cb445-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="cb445-103">Microsoft sẽ mất tài khoản bảo mật rất nghiêm túc.</span><span class="sxs-lookup"><span data-stu-id="cb445-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="cb445-104">Gần đây, bạn có thể được nhắc cung cấp sự đồng ý của cha mẹ cho tài khoản Microsoft của trẻ.</span><span class="sxs-lookup"><span data-stu-id="cb445-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="cb445-105">Nếu bạn cần trợ giúp cho việc cung cấp sự đồng ý của cha mẹ hoặc cập nhật ngày sinh trên tài khoản Microsoft, hãy xem mục [xác nhận tuổi cho sự đồng ý của cha mẹ](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="cb445-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="cb445-106">Tìm hiểu thêm về sự [đồng ý của cha mẹ và tài khoản con của Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="cb445-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  