---
title: 8000038 chứng tài khoản trẻ em GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057016"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Ngày sinh được hiển thị trong tài khoản Microsoft của bạn không chính xác

Microsoft rất xem trọng bảo mật tài khoản. Gần đây, bạn có thể được nhắc đưa ra sự chấp thuận của cha mẹ cho tài khoản Microsoft của trẻ. Nếu bạn cần trợ giúp cung cấp sự chấp thuận của cha mẹ hoặc cập nhật ngày sinh trên tài khoản Microsoft, hãy xem mục Xác minh tuổi [cho sự chấp thuận của cha mẹ](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Tìm hiểu thêm về Sự [chấp thuận của cha mẹ và tài khoản trẻ em của Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  