---
title: Khắc phục sự cố xác minh nhà phát hành
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885377"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Các vấn đề liên quan đến xác minh Publisher dành cho nhà phát triển

**Các bước được đề xuất** 

Để giải quyết các vấn đề liên quan đến xác minh Publisher, hãy thực hiện các bước dưới đây:

1. Xem lại các điều kiện tiên quyết và các yêu cầu khác để đảm bảo họ đều đã gặp nhau.
2. Xem lại các hướng dẫn để [đánh dấu một ứng dụng như Publisher đã xác](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) nhận và đảm bảo tất cả các bước đã được thực hiện thành công.
3. Xem lại danh sách các sự [cố phổ biến](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) và làm theo các bước được đề xuất nếu bạn có một vấn đề từ danh sách đó.
4. Tái tạo yêu cầu bằng [đồ thị Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) để thu thập thông tin bổ sung và quy tắc ra bất kỳ vấn đề nào trong giao diện người dùng.

**Tài liệu được đề xuất**

- [Tổng quan về xác minh Publisher](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Đánh dấu ứng dụng của bạn dưới dạng đã xác minh Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Khắc phục sự cố xác minh nhà phát hành](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

