---
title: Khắc phục sự cố xác minh nhà phát hành
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885377"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="3a6a0-102">Các vấn đề liên quan đến xác minh Publisher dành cho nhà phát triển</span><span class="sxs-lookup"><span data-stu-id="3a6a0-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="3a6a0-103">**Các bước được đề xuất**</span><span class="sxs-lookup"><span data-stu-id="3a6a0-103">**Recommended steps**</span></span> 

<span data-ttu-id="3a6a0-104">Để giải quyết các vấn đề liên quan đến xác minh Publisher, hãy thực hiện các bước dưới đây:</span><span class="sxs-lookup"><span data-stu-id="3a6a0-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="3a6a0-105">Xem lại các điều kiện tiên quyết và các yêu cầu khác để đảm bảo họ đều đã gặp nhau.</span><span class="sxs-lookup"><span data-stu-id="3a6a0-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="3a6a0-106">Xem lại các hướng dẫn để [đánh dấu một ứng dụng như Publisher đã xác](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) nhận và đảm bảo tất cả các bước đã được thực hiện thành công.</span><span class="sxs-lookup"><span data-stu-id="3a6a0-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="3a6a0-107">Xem lại danh sách các sự [cố phổ biến](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) và làm theo các bước được đề xuất nếu bạn có một vấn đề từ danh sách đó.</span><span class="sxs-lookup"><span data-stu-id="3a6a0-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="3a6a0-108">Tái tạo yêu cầu bằng [đồ thị Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) để thu thập thông tin bổ sung và quy tắc ra bất kỳ vấn đề nào trong giao diện người dùng.</span><span class="sxs-lookup"><span data-stu-id="3a6a0-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="3a6a0-109">**Tài liệu được đề xuất**</span><span class="sxs-lookup"><span data-stu-id="3a6a0-109">**Recommended documents**</span></span>

- [<span data-ttu-id="3a6a0-110">Tổng quan về xác minh Publisher</span><span class="sxs-lookup"><span data-stu-id="3a6a0-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="3a6a0-111">Đánh dấu ứng dụng của bạn dưới dạng đã xác minh Publisher</span><span class="sxs-lookup"><span data-stu-id="3a6a0-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="3a6a0-112">Khắc phục sự cố xác minh nhà phát hành</span><span class="sxs-lookup"><span data-stu-id="3a6a0-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

