---
title: Khắc phục sự cố xác minh nhà phát hành
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: eb406eef2ac4e1bcebffcca91ec8706ac3c7a7f1b4c58a5da3a4e386b55700fb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: vi-VN
ms.lasthandoff: 08/05/2021
ms.locfileid: "54008022"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Các sự cố liên quan đến xác Publisher nhà phát triển

**Các bước được đề xuất** 

Để giải quyết các sự cố liên quan đến xác minh người phát hành, hãy thực hiện các bước sau:

1. Xem lại các điều kiện tiên quyết và các yêu cầu khác để đảm bảo các điều kiện này đều được đáp ứng.
2. Xem lại hướng dẫn để đánh [dấu một ứng dụng là đã xác minh của publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) và đảm bảo mọi bước đã được thực hiện thành công.
3. Xem lại danh sách các vấn [đề thường gặp](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) và làm theo các bước được đề xuất nếu bạn gặp vấn đề từ danh sách như vậy.
4. Tạo lại yêu cầu bằng [Graph Explorer để thu thập](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) thêm thông tin và loại trừ mọi sự cố trên giao diện người dùng.

**Tài liệu được đề xuất**

- [Publisher bản - tổng quan](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Đánh dấu ứng dụng của bạn là nhà phát hành đã xác minh](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Khắc phục sự cố xác minh nhà phát hành](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

